body{
    margin-top: 50px;
    background-image: url("../Images/back2.webp");
    background-image: url("../Images/back1.jpeg");
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: inherit;
}

div{
    padding: 2em 1em 1em 1em;
}
h1{
    margin-top: 50px;
}

#card{
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;
}

button{
    width: 100%;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    position: relative;
    
}

input{
    min-height: 2.375rem;
    max-height: 48px;
    line-height: 2.375rem;
    text-align: center;
    max-width: 20rem;
    min-width: 6.25rem;
    color: rgb(51, 51, 51);
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 700;
    border: 0.125rem solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    padding: 0.25rem 0.375rem;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    margin-bottom: 10px;
}