* {
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

body {
    background-color: #254206;
    background-image: url("../Images/meteoros.jpg");
    background-position:right;
    display: grid;
    grid-template-rows: 10% 60% 30%;
}

header {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: center;
    align-content: center;

    #pergunta{
        justify-self:center;
        font-size:xx-large;
        color: azure;
        font-weight:bold;
       

    }
    #numeroPergunta
    {
        color: azure;
        justify-self:end;
    }
}
main {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    #timer{
        font-size: 4em;
        margin-right: 5%;
        margin-left: 5%;
        color: white;
        padding: 10px;   
        font-weight: 500;
    }

    #imagem{
        max-width: 70%;
        max-height: 100%;
    }
}

section {
    display: flex;
    flex-wrap: wrap;    

    #resp1{
        background-color: rgb(243, 54, 54);
        &:hover{
            background-color: rgb(243, 24, 24);
        }
    }
    #resp2{
        background-color: rgb(54, 114, 243);
        &:hover{
            background-color: rgb(20, 60, 240);
        }
    }
    #resp3{
        background-color: rgb(243, 199, 54);
        &:hover{
            background-color: rgb(241, 245, 31);
        }
    }
    #resp4{
        background-color: rgb(85, 243, 54);
        &:hover{
            background-color: rgb(42, 245, 24);
        }
    }
    button {
        width: 45%;
        height: 3.5em;
        margin: auto;
        border: 0;
        font-size: large;
        box-shadow: -3px -3px inset;
        border-radius: 9px;
        &:hover{
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            box-shadow: 3px 3px inset rgb(5, 56, 20);
        }
    }
}

#div-fundo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div-card {
    position: fixed;
    text-align: center;
    width: 20%;
    height: 20%;
    border-radius: 8px;
    box-shadow: 5px 5px 5px;
    background-color: rgb(48, 204, 48);
    min-width: 15em;
    min-height: 10em;
    h2{
        font-size: xx-large;
    }
    p {
        font-size: x-large;
        margin-top: 1.5em;
    }
    button {
        padding: auto;
        border: 0;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1.5px;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        background-color: rgb(255, 255, 255);
        &:hover{
            background-color: rgb(19, 24, 19);
            color: white;
        }
    }
}
